[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
voluptuous = "*"
numpy = "*"

[packages]
flask = "*"
flask-restplus = "*"
python-dotenv = "*"
gunicorn = "*"
mongoengine = "*"
gevent = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7"
